<a href="https://colab.research.google.com/github/bhati04/training/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello",end="$")
print("Hey User")

hello$Hey User

In [ ]:
x=0.0;
print(type(x))

<class 'float'>

In [ ]:
year=2004;
shelu="my birth year is";
print(shelu,year)

my birth year is 2004

In [ ]:
Year=2025;
company="regex";
print(f"my year is {Year} company is {company}")

my year is 2025 company is regex

In [ ]:
a=10;
b=20;
c=30;
if a>b and a>c :
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

c is greater

In [ ]:
age = int(input("enter your age"))
if age >= 18 and age< 25:
  print("adult")
elif age >=25 and age < 35:
  print("married")
elif age >= 35:
  print("citizen")
else:
  print("child")

enter your age18
adult

In [ ]:
# string slicing and indexing
x= "RAJASTHAN";
x[1:4]

''

In [ ]:
x=int(input("enter a number"))
if x%2==0:
  print("even no. ")
else:
  print("odd no.")

enter a number4
even no.

In [ ]:
percentage=int(input("enter your %"))
if percentage <=100 and percentage>=90:
  print("GRADE => A")
elif percentage<90 and percentage>=80:
  print("GRADE => B")
elif percentage<80 and percentage>=70:
  print("GRADE => c")
elif percentage<70 and percentage>=60:
  print("GRADE => D")
else:
  print("FAIL!!")

enter your %90
GRADE => A

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
TOTAL=0
for i in range(1,366):
  TOTAL=TOTAL+i
print(TOTAL)

66795

In [ ]:
count=0
for i in range(20,56):
  if(i%2==0 and i%6==0):
      print(i)
      count=count+1
print(count)

24
30
36
42
48
54
6

In [ ]:
a=10
for i in range(1,11):
  if(a%i==0):
    print(i)

1
2
5
10

In [ ]:
a=45
count=0
for i in range(1,46):
  if(a%i==0):
    count=count+1
print(count)

6

In [ ]:
a=int(input("enter a number"))
count=0
for i in range(1,a+1):
  if(a%i==0):
    count=count+1
if(count>2):
  print("Not Prime")
else:
  print("Is Prime")

enter a number117
Not Prime

In [ ]:
for i in range(1,11):
  if(i==4):
    break
  print(i)

1
2
3

In [ ]:
'''while loop is used when number of iterations are not finite
syntax while(Condition):
          execution'''

i=1
while(i>10):
  i+=1
  print("hello")

In [ ]:
#LCM of two numbers
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if(a>b):
  greater=a
else:
  greater=b
  while(True):
    if(greater%a==0 and greater%b==0):
      print("LCM = ",greater)
      break
    else:
      greater+=1

Enter a number5
Enter a number13
LCM =  65

In [ ]:
ST=str(input("enter a string"))
start=0
end=len(ST)-1
a=0
while(start<end):
  if(ST[start]!=ST[end]):
    a=1
    break
  start+=1
  end-=1

if(a==1):

 print("Not a Palindrome")
else:
  print("It is a Palindrome ")

enter a stringsaras
It is a Palindrome

In [ ]:
mylist=['tiger','sher',16,'B']
mylist[0]="BHAU"#update at specified position
print(mylist)
mylist.append("FCUK")#update a last
print(mylist)
mylist.pop()#delete from last
print(mylist)

['BHAU', 'sher', 16, 'B']
['BHAU', 'sher', 16, 'B', 'FCUK']
['BHAU', 'sher', 16, 'B']

In [ ]:
List=[2,9,7,28,1,25,17]
max=0

for i in List:
  if i>max:
    max=i
print(max)

28

In [ ]:
List=[2,9,7,28,1,25,17]
newlist=[]
total=0
for i in List:
  total+=i
  newlist.append(total)
  print(total,i,newlist)

2 2 [2]
11 9 [2, 11]
18 7 [2, 11, 18]
46 28 [2, 11, 18, 46]
47 1 [2, 11, 18, 46, 47]
72 25 [2, 11, 18, 46, 47, 72]
89 17 [2, 11, 18, 46, 47, 72, 89]

In [ ]:
#nested FOr
for i in range(1,4):
  print("------Sudent",i)
  for j in range(1,i+1):
    print("SUiiii prabhaat")

------Sudent 1
SUiiii prabhaat
------Sudent 2
SUiiii prabhaat
SUiiii prabhaat
------Sudent 3
SUiiii prabhaat
SUiiii prabhaat
SUiiii prabhaat

In [ ]:
import webbrowser
def open_website(url):
    webbrowser.open(url, new=2)  # new=2 opens in a new tab, if possible
if __name__ == "__main__":
    website_url = "https://www.instagram.com"  # Change this to your desired website
    open_website("https://www.instagram.com/")

In [ ]:
mylist =[50,19,8,7,2,3,6,9,0,25,5,6]
for i in range(0,len(mylist)):
  for j in range(i+1,len(mylist)):
    if(mylist[i]+mylist[j]==9):
      print("sum of two value=====>",mylist[i],mylist[j])

sum of two value=====> 7 2
sum of two value=====> 3 6
sum of two value=====> 3 6
sum of two value=====> 9 0

In [ ]:
mytupl=(5,8,'abc',98,'S')
mytupl.count('S') #count an element
mytupl.index("abc")#find the index

2

In [ ]:
for i in range(1,5):
  print("student",i)
  for j in range(1,5-i):
    print("-------Subject",j,end=" ")
  print(" \n $$$$$$$$$$$$  TEA BREAK  $$$$$$$$$$")

student 1
-------Subject 1 -------Subject 2 -------Subject 3
 $$$$$$$$$$$$  TEA BREAK  $$$$$$$$$$
student 2
-------Subject 1 -------Subject 2
 $$$$$$$$$$$$  TEA BREAK  $$$$$$$$$$
student 3
-------Subject 1
 $$$$$$$$$$$$  TEA BREAK  $$$$$$$$$$
student 4

 $$$$$$$$$$$$  TEA BREAK  $$$$$$$$$$

In [ ]:
for i in range(0,5):
  for j in range(1,5):
    print("*",end=" ")
  print("")

* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(1,4):
  for j in range(0,5):
    print(i,end="")
  print(" ")

11111
22222
33333

In [ ]:
for i in range(4,9,2):
  for j in range(0,5):
    print(i,end="")
  print(" ")

44444
66666
88888

In [ ]:
for i in range(0,3):
  for j in range(1,5):
    print(j,end="")
  print(" ")

1234
1234
1234

In [ ]:
for i in range(1,5):
  for j in range(4,8):
    print(j,end="")
  print(" ")

4567
4567
4567
4567

In [ ]:
n = 5
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [ ]:
n = 3
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3

In [ ]:
for i in range(1,4):
  for j in range(4,0,-1):
    print("-",end="")
  print("")

----
----
----

In [ ]:
for i in range(1,6):
  for j in range(0,5-i):
    print("-",end="")
  for j in range(1,i+1):
    print("*",end="")
  print(" ")

----*
---**
--***
-****
*****

In [ ]:

for i in range(0,5):
    for j in range(0,i + 1):
        print((i + j) % 2, end='')
    print()

0
10
010
1010
01010

In [ ]:
data="hello"
count=0
for char in data:
  count+=1
  mydictionary=("Total",count)
print(mydictionary)

('Total', 5)

In [ ]:
Data='user'
mydictionary={}
for chr in Data:
  mydictionary[chr]=1
print(mydictionary)

{'u': 1, 's': 1, 'e': 1, 'r': 1}

In [ ]:
data="hey isha"
mydictionary={}
for a in data:
  if(a=='a' or a=='e'or a=='i' or a=='o'or a=='u' ):
    mydictionary[a]=1

print(mydictionary)

{'e': 1, 'i': 1, 'a': 1}

In [ ]:
data="hey isahaeeea"
mydictionary={}
for i in'aeiou':
  if i not in mydictionary:
    mydictionary[i]=1
  else:
    mydictionary[char]=mydictionary[i]+1

print(mydictionary)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

In [ ]:
mydictionary={"amount":15}
mydictionary["amount"]=mydictionary["amount"]+200
print(mydictionary)

{'amount': 215}

In [ ]:
#list Comphrehension {summerized way to create dictionary and also applicaple on other data types}
newlist=[]
for i in [10,20,30,40,50]:
  newlist.append(i+5)
print(newlist)

[15, 25, 35, 45, 55]

In [ ]:
#list Comphrehension {summerized way to create dictionary and also applicaple on other data types}
 {char: 1 for char in "hey"}

{'h': 1, 'e': 1, 'y': 1}

In [ ]:
'''Functions:- Set of instructons to perform a particular task
used to increase code reusablility '''
def test():
  print("Hello")

test()

test()

test()
test()
test()
test()
test()

Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
a=5  #global var
def var():
  z=10#local var
  print(a)
  print(z)
var()
print(a)

5
10
5

In [ ]:
def msg(username):
  print("Hey User: ",username)
msg("Shelu")
msg("Kartik")

Hey User:  Shelu
Hey User:  Kartik

In [ ]:
def sum(num):
  total=0
  for i in range(1,num+1):
    total=total+i
  print("Sum upto {num} is",total)
sum(15)

Sum upto {num} is 120

In [ ]:
for i in range(0,num)
    print("-",end="")
    num+=1
    for j in range(1,i):
      print("")

SyntaxError: expected ':' (<ipython-input-49-567510a80239>, line 2)

In [ ]:
def LCM():
    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))

    if a > b:
        greater = a
    else:
        greater = b

    while True:
        if greater % a == 0 and greater % b == 0:
            print("LCM =", greater)
            break
        greater += 1

LCM()

Enter the first number: 5
Enter the second number: 3
LCM = 15

In [ ]:
def func(a,b):
  print("a===>",a,"b====>",b)
func(2,3)
func(3,2)

a===> 2 b====> 3
a===> 3 b====> 2